In [1]:
#input and output

In [2]:
# Taking input() 
  
val = input("Enter your value: ") 
print(val)

Enter your value: 13
13

In [5]:
# checking type 
  
num = (input ("Enter number :"))
print(num) 
name1 = input("Enter name : ") 
print(name1) 
  

print ("type of number", type(num)) 
print ("type of name", type(name1))

Enter number :10
10
Enter name : sajal
sajal
type of number <class 'int'>
type of name <class 'str'>

In [ ]:
#type casting

In [6]:
# to integer
 
num1 = int(input()) 
num2 = int(input()) 
  
print(num1 + num2)

12
13
25

In [7]:
#to float


num1 = float(input()) 
num2 = float(input()) 
  
print(num1 + num2)

3.3
2.6
5.9

In [8]:
# to srting


string = str(input()) 
  
 
print(string)

sajal
sajal

In [9]:
# MULTIPLE INPUTS

In [10]:
# 1. split() method

In [12]:
# taking two inputs at a time 
x, y = input("Enter a two value: ").split() 
print("Number of boys: ", x) 
print("Number of girls: ", y) 
print() 
  
# taking three inputs at a time 
x, y, z = input("Enter a three value: ").split() 
print("Total number of students: ", x) 
print("Number of boys is : ", y) 
print("Number of girls is : ", z) 
print() 
  
# taking two inputs at a time 
a, b = input("Enter a two value: ").split() 
print("First number is {} and second number is {}".format(a, b)) 
print() 
  
# taking multiple inputs at a time  
# and type casting using list() function 
x = list(map(int, input("Enter a multiple value: ").split())) 
print("List of students: ", x)

Enter a two value: 2 1
Number of boys:  2
Number of girls:  1

Enter a three value: 2 3 4
Total number of students:  2
Number of boys is :  3
Number of girls is :  4

Enter a two value: 20 30
First number is 20 and second number is 30

Enter a multiple value: 30 400 00 50 30
List of students:  [30, 400, 0, 50, 30]

In [13]:
# 2. LIST COMPREHENSION

In [15]:
# taking two input at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print() 
  
# taking three input at a time 
x, y, z = [int(x) for x in input("Enter three value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print() 
  
# taking two inputs at a time 
x, y = [int(x) for x in input("Enter two value: ").split()] 
print("First number is {} and second number is {}".format(x, y)) 
print() 
  
# taking multiple inputs at a time  
x = [int(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter two value: 2 3
First Number is:  2
Second Number is:  3

Enter three value: 2 3 4
First Number is:  2
Second Number is:  3
Third Number is:  4

Enter two value: 2 4
First number is 2 and second number is 4

Enter multiple value: 5 6 7 6 8 9 9  9 9 9
Number of list is:  [5, 6, 7, 6, 8, 9, 9, 9, 9, 9]

In [17]:
# output

In [30]:
# One object is passed 
print("SAJAL") 
  
x = 5
# Two objects are passed 
print("x =", x) 
  
# code for disabling the softspace feature  
print('s', 's', 'G', sep ='') 
  
# using end argument 
print("hello", end = '@')   
print("sajal")

SAJAL
x = 5
ssG
hello@sajal

In [20]:
# end parameter in print()

In [22]:
print("Welcome " , end = ' ')  
print("sajal", end = ' ')

Welcome  sajal

In [24]:
# ends the output with '@' 
print("sajal" , end = '@')  
print("ML")

sajal@ML

In [25]:
# Python | sep parameter in print()

In [29]:
#code for disabling the softspace feature 
print('s','s','g', sep='') 
  
#for formatting a date 
print('13','02','1999', sep='-') 
  
#another example 
print('SAJAL','python', sep='@')

ssg
13-02-1999
SAJAL@python

In [31]:
# output formatting

In [34]:
# string modulo operator(%) to print 
# fancier output 
  
# print integer and float value 
print("s : % 2d, Portal : % 5.2f" %(1, 05.333))  
  
# print integer value 
print("Total students : % 3d, Boys : % 2d" %(240, 120)) 
  
# print octal value 
print("% 7.3o"% (25)) 
  
# print exponential value 
print("% 10.3E"% (356.08977))

s :  1, Portal :  5.33
Total students :  240, Boys :  120
    031
 3.561E+02

In [35]:
 
  
# using format() method 
print('I love {} for "{}!"'.format('india', 'hello')) 
  
# using format() method and refering  
# a position of the object 
print('{0} and {1}'.format('sajal', 'Portal')) 
  
print('{1} and {0}'.format('sajal', 'Portal'))

I love india for "hello!"
sajal and Portal
Portal and sajal

In [36]:
# combining positional and keyword arguments 
print('Number one person is {0}, {1}, and {other}.'
     .format('sajal', 'For', other ='studies')) 
  
# using format() method with number  
print("s:{0:2d}, Portal :{1:8.2f}". 
      format(12, 00.546)) 
  
# Changing positional argument 
print("Second argument: {1:3d}, first one: {0:7.2f}". 
      format(47.42, 11)) 
  
print("s: {a:5d},  Portal: {p:8.2f}". 
     format(a = 453, p = 59.058))

Number one person is sajal, For, and studies.
s:12, Portal :    0.55
Second argument:  11, first one:   47.42
s:   453,  Portal:    59.06